@font-face {
  src: url(./Fonts/Ionicons.ttf);
  font-family: 'Ionicons';
}

@font-face {
  src: url(./Fonts/FontAwesome.ttf);
  font-family: 'FontAwesome';
}

@font-face {
  src: url(./Fonts/AntDesign.ttf);
  font-family: 'AntDesign';
}

@font-face {
  src: url(./Fonts/Entypo.ttf);
  font-family: 'Entypo';
}

@font-face {
  src: url(./Fonts/Foundation.ttf);
  font-family: 'Foundation';
}

@font-face {
  src: url(./Fonts/Roboto-Regular.ttf);
  font-family: 'Roboto-Regular';
}

@font-face {
  src: url(./Fonts/Roboto-Black.ttf);
  font-family: 'Roboto-Black';
}

@font-face {
  src: url(./Fonts/Merriweather-Black.ttf);
  font-family: 'Merriweather-Black';
}

@font-face {
  src: url(./Fonts/Merriweather-Regular.ttf);
  font-family: 'Merriweather-Regular';
}

@font-face {
  src: url(./Fonts/FontAwesome5_Solid.ttf);
  font-family: 'FontAwesome5';
}
@font-face {
  src: url(./Fonts/FontAwesome5_Regular.ttf);
  font-family: 'FontAwesome5';
}
@font-face {
  src: url(./Fonts/FontAwesome5_Brands.ttf);
  font-family: 'FontAwesome5';
}

html,
body {
  height: 100%;
}
/* These styles disable body scrolling if you are using <ScrollView> */
body {
  overflow: hidden;
}
/* These styles make the root element full-height */
#root {
  display: flex;
  height: 100%;
}
